# Note the port here matches the docker-compose file
ATMUNGE_POSTGRES_URL="postgres://atmunge:atmunge@localhost:5555/atmunge?sslmode=disable"

# PLC Options
ATMUNGE_PLC_FILTER=false
ATMUNGE_PLC_FILTER_KEEP=true
ATMUNGE_PLC_CONFLICT_UPDATE=false
ATMUNGE_PLC_CONFLICT_KEEP=true

# Repo Sync Options
ATMUNGE_REPO_DATA_DIR=./data/repos

# Ollama Settings
ATMUNGE_OLLAMA_HOST=http://localhost:11434